@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root{
    --font:'Inconsolata', monospace;
    --background-color:#FCEADE;
    --first-color: #EA526F;
    --second-color: #25CED1;
    --third-color: #FF8A5B;
}

*{
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    height: 70px;
    background-color: var(--third-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.95;
}

nav li{
    display: inline;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    font-family: var(--font);
    font-size: 150%;
    text-decoration: none;
    color: white;
}

iframe{
    width: 100%;
    height: 70px;
}

body{
    background-color: var(--background-color);
    min-height: calc(100% -4rem);
}

a{
    text-decoration: none;
}

#titulo{
    width: 100%;
    height: 550px;
    text-align: center;
    background-image: url(../img/fondo-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ephesis', cursive;
    font-size: 100px;
    color: var(--first-color);
}

#titulo span{
    display: block;/*salto de línea*/
    font-family: var(--font);
    font-size: 50px;
}

main{
    padding: 30px 50px 30px;
}

#articulo-1 h3{
    background: linear-gradient(to right, var(--second-color),#a8f0f1);
    width: 600px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    font-size: 30px;
    color: white;
}

#articulo-1 img, #articulo-2 img{
    width: 430px;
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px grey;
}

#articulo-1 p, #articulo-2 p{
    font-family: var(--font);
    font-size: 30px;
    padding: 20px;
    margin-right: 30px;
   
}

#articulo-2 h3{
    background: linear-gradient(to right,#ecb6a1,var(--third-color));
    width: 600px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    font-size: 30px;
    color: white;
    margin-top: 50px;
}


.btn-articulo{
    background-color: var(--first-color);
    color:white;
    border-radius: 9px;
    font-family: var(--font);
    font-size: 21px;
    padding: 9px 20px 9px 20px;
    cursor: pointer;
}

.btn-articulo:hover{
    transition: white 300ms ease-in-out;
    opacity: 0.7;
}

/*******************************************************************/

#galeria-titulo{
    font-family: var(--font);
    text-align: center;
    padding-top: 30px;
    color: var(--first-color);
    font-size: 50px;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    padding: 100px;
    grid-gap: 25px;
    position: relative;
}

li {
    position: relative;
    overflow: hidden;
    margin: 0 15px 15px 0;
    cursor: pointer;
    transition: all 300ms;
    overflow: hidden;
}

li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 10px;
    display: none;
    position: absolute;
    z-index: 10;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: var(--font);
    font-size: 1em;
}

li:hover{
    transform: scale(1.05)
}

li:hover .info {
    display: block;
}

li:hover img{
    opacity: 0.4;
}

/*******************************************************************/

.articulo-titulo{
    font-family: var(--font);
    text-align: center;
    padding-top: 30px;
    color: var(--first-color);
    font-size: 30px;
}

.articulo{
    margin: 30px 250px 10px 250px;
}

.articulo h3{
    text-align: center;
    font-family: var(--font);
    padding-bottom: 10px;
    font-size: 25px;
    color: var(--second-color);
}

.articulo p{
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: var(--font);
    color: black;
    font-size: 20px;
}

.articulo img{
    display: block;
    margin:auto;
    width: 400px; height: 430px;
    box-shadow: 5px 5px 5px grey;
    align-content: center;
}

#vista{
    display: flex;
    position: relative;
}

#vista img{
    margin: 10px;
    border: 20px white;
    width: 300px;
    height: 400px;
}


/*******************************************************************/

#pie-de-pagina{
    text-align: center;
    background-color: var(--first-color);
    opacity: 0.7;
    padding-bottom: 10px;
    width: 100%;
    height: 150px;
}

#pie-de-pagina i{
    font-size: 60px;
    padding: 30px;
    color: white;
    cursor: pointer;
}

#pie-de-pagina p{
    font-family: var(--font);
    color: white;
    font-size: 20px;
}

/*******************************************************************/
#iframe-nav{
    width: 100%;
    height: 70px;
    border: none;

}

#iframe-footer{
    border: none;
    width: 300px;
    height: 100px;
    display:block;
    width: 100%;
    height: 150px;
    position: absolute;
}

/*******************************************************************/
.container-form h4{
    font-family: 'Ephesis', cursive;
    font-size: 40px;
    color: var(--first-color);
    margin-left: 25px;
}

.container-form{
    background-image: url(../img/newsletter.jpg) ;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-form h2{
    font-family: var(--font);
    text-align: center;
    padding-top: 30px;
    color: var(--first-color);
    font-size: 60px;
    margin-bottom: 30px;
}

#form-contacto{
    background-color: rgb(255, 255, 255,0.35);
    margin: 0 80px 0 80px;
    padding-bottom: 60px;
}

#form-contacto input{
    font-size: 24px;
    border-width: 2px;
    border-radius: 7px;
    width: 500px;
    height: 50px;
}

#form-contacto div{
    font-family: var(--font);
    color: var(--first-color);
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    display:  flex;
}

#form-contacto label{
    margin: 20px;
    display:inline-block;
}

#form-contacto textarea{
    padding: 10px;
    font-size: 20px;
    border-width: 2px;
    border-radius: 9px;
	margin:15px;
	resize:none;
	display:block;
    width: 400px;
    height: 200px;
}

.btn{
    cursor: pointer;
    font-family: var(--font);
    font-size: 25px;
    background-color: var(--third-color);
    padding:11px 76px;
    opacity: 0.75;
    margin: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border-radius: 9px;
    width: 575px;
    color: white;
}


.btn:hover{
    text-decoration: underline;
    opacity: 0.9;
}

footer{
    height: 4rem;
    width: 100%;
}

/*******************************************************************/

@media screen and (max-width: 480px){

    ul{
        grid-template-columns: repeat(2, 1fr);
    }

    .articulo{
        margin: 30px 25px 10px 25px;
    }

    .articulo img{
        width: 200px; height: 230px;
    }

    #vista img{
        width: 200px;
        height: 300px;
    }

    #titulo{
        font-size: 50px;
    }

    #articulo-2 h3{
        margin-top: 30px;
    }

    .container-form{
        background-image: url(../img/newsletter-tablet-celular.jpg);
    }

    .info{
        font-size:  5px;
    }

}

@media screen and (max-width: 768px){

    ul{
        grid-template-columns: repeat(3, 1fr);
    }

    .articulo{
        margin: 30px 25px 10px 25px;
    }

    .articulo img{
        width: 200px; height: 230px;
    }

    #vista img{
        width: 200px;
        height: 300px;
    }

    #titulo{
        font-size: 70px;
    }

    .container-form{
        background-image: url(../img/newsletter-tablet-celular.jpg);
    }

    .info{
        font-size: 15px;
    }

}